@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
    --color-one: oklch(63.7% 0.237 25.331);
    --color-two: oklch(62.3% 0.214 259.815);
    --color-three: oklch(69.6% 0.17 162.48);
}
